h1 {
	padding-top: 2%;
	font-family:sans-serif;
	color:#bccac4;
	font-weight: 500;
	text-transform: uppercase;
}

body {
	background: url(images/background.jpeg);
}

.tc {
	background: rgba(0,0,0,0.5);
	color: white;
}

